*{margin:0;padding:0;}
li{list-style:none outside none;}
body {
	background: #aaa;
	font-family:"å¾®è½¯é›…é»‘", "é»‘ä½“"
	padding:20px 0 0px;
}

.box {
    width: 960px;
    margin: 0 auto 20px;
    height: 500px;
    background:#;
    border: 1px solid #000;
    background-color: rgba(0,0,0,0);
}

.slider-range{
    width: 960px;
}

i.hander {
	display:block;
	position: absolute;
	width:100%;
	height:100%;
	background:#ccc;
	filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;  
    opacity: 0;
}

#video-container{
    position: relative;
    width: 60%;                 /*维持客户区16:9的比例*/
    padding-top: 33.75%;        /*维持客户区16:9的比例*/
    height:0px;                 /*维持客户区16:9的比例*/
    margin-bottom: 62px;        /*留给控制栏的高度*/
}

video.previewer {
    position: absolute;
    top: 0; left: 0;
    width:100%;                 /*填充满container的客户区*/
    height:100%;                /*填充满container的客户区*/
}

video::-webkit-media-controls-panel {
    display: flex !important;   /*常显控制栏*/
    opacity: 1 !important;      /*常显控制栏*/
    position: relative;
    top:31px;                   /*偏移到视频区外*/
    height:62px;                /*修改控制栏高度*/
}

video::-webkit-media-controls-play-button{
    position: relative;
    top:-16px;
}

video::-webkit-media-controls-current-time-display {
    position: relative;
    top:-16px;
}

video::-webkit-media-controls-time-remaining-display {
    position: relative;
    top:-16px;
}

video::-webkit-media-controls-mute-button {
    position: relative;
    top:-16px;
    left:50px;
}

video::-webkit-media-controls-volume-slider {
    position: relative;
    top:-16px;
    left:40px;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: block;
    position: absolute;
    top:46px;
    width:100%;
    left:-18px;
}

img.emoji {
    width: 5%;
    height: 5%;
}

img.effect {
    width: 3%;
    height: 3%;
}

span.overlay-text {
    font-size:100%;
    color:#ff0000
}

.effect-container{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
