*{margin:0;padding:0;}
li{list-style:none outside none;}
body {
	background: #aaa;
	font-family:"å¾®è½¯é›…é»‘", "é»‘ä½“"
	padding:20px 0 0px;
}

.box {
    width: 960px;
    margin: 0 auto 20px;
    height: 500px;
    background:#;
    border: 1px solid #000;
    background-color: rgba(0,0,0,0);
}

.slider-range{
    width: 960px;
}

i.hander {
	display:block;
	position: absolute;
	width:100%;
	height:100%;
	background:#ccc;
	filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;  
    opacity: 0;
}

video.previewer {
    width: 960px;
    height: 540px;
}

video::-webkit-media-controls-volume-slider {
    display:none;
}

video::-webkit-media-controls-mute-button {
    display:none;
}

audio::-webkit-media-controls-volume-slider {
    display:none;
}

audio::-webkit-media-controls-mute-button {
    display:none;
}

img.emoji {
    width: 5%;
    height: 5%;
}

img.effect {
    width: 3%;
    height: 3%;
}

span.overlay-text {
    font-size:100%;
    color:#ff0000
}

.effect-container{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
